.tab-content
	#rice.tab-pane.active(role='tabpanel')
		.menuitem
			.row
					each val in menus
						if(val.type=="Rice")
							if(val.category=="Veg.")
								.col-md-3.col-md-offset-1.col-lg-3.col-lg-offset-1.col-sm-3.col-sm-offset-1.col-xs-3.col-xs-offset-1.jumbotron.veg-block.boxes
									
									p.dish= val.name
									//- p.dish= val.description
									p.dish= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete 
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
					

							else  
								.col-md-3.col-md-offset-1.col-lg-3.col-lg-offset-1.col-sm-3.col-sm-offset-1.col-xs-3.col-xs-offset-1.jumbotron.non-veg-block.boxes
									p.dish= val.name
									//- p.dish= val.description
									p.dish= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											
	#gravy.tab-pane(role='tabpanel')
		.menuitem
			.row
					each val in menus
						if(val.type=="Gravy")
							if(val.category=="Veg.")
								.col-md-3.col-md-offset-1.col-lg-3.col-lg-offset-1.col-sm-3.col-sm-offset-1.col-xs-3.col-xs-offset-1.jumbotron.veg-block.boxes
									p.dish= val.name
									//- p.dish= val.description
									p.dish= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											
							else  
								.col-md-3.col-md-offset-1.col-lg-3.col-lg-offset-1.col-sm-3.col-sm-offset-1.col-xs-3.col-xs-offset-1.jumbotron.non-veg-block.boxes
									p.dish= val.name
									//- p.dish= val.description
									p.dish= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											

	#roti.tab-pane(role='tabpanel')
		.menuitem
			.row
					each val in menus
						if(val.type=="Rotis")
							if(val.category=="Veg.")
								.col-md-3.col-md-offset-1.col-lg-3.col-lg-offset-1.col-sm-3.col-sm-offset-1.col-xs-3.col-xs-offset-1.jumbotron.veg-block.boxes
									p.dish= val.name
									//- p.dish= val.description
									p.dish= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											
							else  
								.col-md-3.col-md-offset-1.col-lg-3.col-lg-offset-1.col-sm-3.col-sm-offset-1.col-xs-3.col-xs-offset-1.jumbotron.non-veg-block.boxes
									p.dish= val.name
									//- p.dish= val.description
									p.dish= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											
											
	#extra.tab-pane(role='tabpanel')
		.menuitem
			.row
					each val in menus
						if(val.type=="Extra")
							if(val.category=="Veg.")
								.col-md-3.col-md-offset-1.col-lg-3.col-lg-offset-1.col-sm-3.col-sm-offset-1.col-xs-3.col-xs-offset-1.jumbotron.veg-block.boxes
									p.dish= val.name
									//- p.dish= val.description
									p.dish= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											
							else  
								.col-md-3.col-md-offset-1.col-lg-3.col-lg-offset-1.col-sm-3.col-sm-offset-1.col-xs-3.col-xs-offset-1.jumbotron.non-veg-block.boxes
									p.dish= val.name
									//- p.dish= val.description
									p.dish= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											

	#juices.tab-pane(role='tabpanel')
		.menuitem
			.row
					each val in menus
						if(val.type=="Juices")
							if(val.category=="Veg.")
								.col-md-3.col-md-offset-1.col-lg-3.col-lg-offset-1.col-sm-3.col-sm-offset-1.col-xs-3.col-xs-offset-1.jumbotron.veg-block.boxes
									p.dish= val.name
									//- p.dish= val.description
									p.dish= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											
							else  
								.col-md-3.col-md-offset-1.col-lg-3.col-lg-offset-1.col-sm-3.col-sm-offset-1.col-xs-3.col-xs-offset-1.jumbotron.non-veg-block.boxes
									p.dish= val.name
									//- p.dish= val.description
									p.dish= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											


	#desserts.tab-pane(role='tabpanel')
		.menuitem
			.row
					each val in menus
						if(val.type=="Desserts")
							if(val.category=="Veg.")
								.col-md-3.col-md-offset-1.col-lg-3.col-lg-offset-1.col-sm-3.col-sm-offset-1.col-xs-3.col-xs-offset-1.jumbotron.veg-block.boxes
									p.dish= val.name
									//- p.dish= val.description
									p.dish= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											
							else  
								.col-md-3.col-md-offset-1.col-lg-3.col-lg-offset-1.col-sm-3.col-sm-offset-1.col-xs-3.col-xs-offset-1.jumbotron.non-veg-block.boxes
									p.dish= val.name
									//- p.dish= val.description
									p.dish= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
	.menuitem
		.row
			if (user)
				if (user.type=="Customer")
					form(action="/allorders" method='get')
						button.btn.btn-warning(type='submit') View Order 
				if (user.type=="admin")
					a.button.btn.btn-warning(href="/editmenu") Add Item 
					a.btn.btn-warning(href="/setdefaultmenu") Reset To Default
												
