.tab-content
	#rice.tab-pane.active(role='tabpanel')
		.container
			.row.text-center
					each val in menus
						if(val.type=="Rice")
							if(val.category=="Veg.")
								.col-md-3.jumbotron.veg-block
									p= val.name
									p= val.description
									p= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete 
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
					

							else  
								.col-md-3.jumbotron.non-veg-block
									p= val.name
									p= val.description
									p= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											
	#gravy.tab-pane(role='tabpanel')
		.container
			.row.text-center
					each val in menus
						if(val.type=="Gravy")
							if(val.category=="Veg.")
								.col-md-3.jumbotron.veg-block
									p= val.name
									p= val.description
									p= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											
							else  
								.col-md-3.jumbotron.non-veg-block
									p= val.name
									p= val.description
									p= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											

	#roti.tab-pane(role='tabpanel')
		.container
			.row.text-center
					each val in menus
						if(val.type=="Rotis")
							if(val.category=="Veg.")
								.col-md-3.jumbotron.veg-block
									p= val.name
									p= val.description
									p= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											
							else  
								.col-md-3.jumbotron.non-veg-block
									p= val.name
									p= val.description
									p= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											form(action="/removeorder/"+val._id method="post")
												button.btn.btn-warning(type='submit') Remove    

												button.btn.btn-warning(type='submit') Add     
	#extra.tab-pane(role='tabpanel')
		.container
			.row.text-center
					each val in menus
						if(val.type=="Extra")
							if(val.category=="Veg.")
								.col-md-3.jumbotron.veg-block
									p= val.name
									p= val.description
									p= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											
							else  
								.col-md-3.jumbotron.non-veg-block
									p= val.name
									p= val.description
									p= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											

	#juices.tab-pane(role='tabpanel')
		.container
			.row.text-center
					each val in menus
						if(val.type=="Juices")
							if(val.category=="Veg.")
								.col-md-3.jumbotron.veg-block
									p= val.name
									p= val.description
									p= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											
							else  
								.col-md-3.jumbotron.non-veg-block
									p= val.name
									p= val.description
									p= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											


	#desserts.tab-pane(role='tabpanel')
		.container
			.row.text-center
					each val in menus
						if(val.type=="Desserts")
							if(val.category=="Veg.")
								.col-md-3.jumbotron.veg-block
									p= val.name
									p= val.description
									p= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											
							else  
								.col-md-3.jumbotron.non-veg-block
									p= val.name
									p= val.description
									p= '₹'+val.price
									if (user)
										if (user.type=="admin")
											form(action="/deleteitem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Delete
										else
											form(action="/additem/"+val._id method="post")
												button.btn.btn-warning(type='submit') Add 
											
.container
	.row
		form(action="/allorders" method='get')
			button.btn.btn-warning(type='submit') View Order 