extends ./includes/layout
block main
	#wrapper
		#profile
			img.user(src= user.profile.picture)
			.info
			span.p.text-center
				p #{user.profile.name}
				p (#{user.type}) 
				p #{user.email}
	.container#address
		.row.jumbotron
			h3 Billing Address
			p #{user.address.line1}, #{user.address.line2},
			p #{user.address.line3},
			p #{user.address.line4},
			p #{user.address.line5},
			p #{user.address.line6}-#{user.address.line7}.
			
	#status
		.quote
			p.line-through
				span
			.stripe-border
				blockquote
					if (user.type=='Customer')
						p &ldquo; Your #{user.tiffinstatus} &rdquo;
			cite.line-through
				span 

	include ../views/partials/footer
